html {
    font: 25px 'PT Sans Narrow', sans-serif;
    background: #fff;
}
body {
    color: #7f8c8d;
}

#container, #header {
    margin: 40px auto 0;
    max-width: 700px;
}

#header {
    padding-bottom: 50px;
}

img {
    position: absolute;
    top: 0;
    right: 50%;
    height: 120px;
    margin-right: -60px;
}

h1 {
    color: #bdc3c7;
    font: 45px;
    margin: 0;
    padding: 0;
    float: left;
}

#btn {
    background: #e74c3c;
    border: 0;
    color: #fff;
    font: 25px/33px 'PT Sans Narrow', 'Segoe UI', 'PT Sans', 'Helvetica Neue', 'FreeSans', sans-serif;
    outline: 0;
    margin-top: 15px;
    float: right;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}

#gen {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gen li {
    border-top: 1px solid #95a5a6;
    margin: 10px 0 0;
    padding: 10px 0 0;
}

#disclaimer {
    font-size: 14px;
    width: 700px;
    margin: 30px auto;
    text-align: center;
    opacity: 0.5;
}
